.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  padding-top: 64px;
}

.mat-list-item {
  display: flex;
  align-items: center;
}

.mat-list-item .mat-icon {
  margin-right: 10px;
}

.nav-text {
  vertical-align: super;
  margin-left: 5px;
}

