<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>InteractX</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item href="">Home</a>
      <a mat-list-item href="registration">Vehicle Registration</a>
      <a mat-list-item href="ticket">Customer Tickets</a>
      <a mat-list-item href="reporting">Reporting</a>
      <a mat-list-item href="marketing">Marketing</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content> <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
