.sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  padding-top: 64px;
}
