<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>InteractX</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list class="mt-5">
      <!-- Home link -->
      <a
        mat-list-item
        [routerLink]="['/']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>home</mat-icon>
        <span class="nav-text">Home</span>
      </a>

      <!-- Vehicle Registration link -->
      <a
        mat-list-item
        [routerLink]="['/registration']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>directions_car</mat-icon>
        <span class="nav-text">Vehicle Registration</span>
      </a>

      <!-- Customer Tickets link -->
      <a
        mat-list-item
        [routerLink]="['/ticket']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>support_agent</mat-icon>
        <span class="nav-text">Customer Tickets</span>
      </a>

      <!-- Reporting link -->
      <a
        mat-list-item
        [routerLink]="['/reporting']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>assessment</mat-icon>
        <span class="nav-text">Reporting</span>
      </a>

      <!-- Marketing link -->
      <a
        mat-list-item
        [routerLink]="['/marketing']"
        routerLinkActive="active"
        class="nav-item"
      >
        <mat-icon>campaign</mat-icon>
        <span class="nav-text">Marketing</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

